<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agents</title>
    <link rel="shortcut icon" href="../image/favicon.png" type="image/x-icon" />
    <!------ Librerias de Estilos ------>
    <!-- Estilos Propios -->

    <link rel="stylesheet" href="../styles/agents.css" />
    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
    <div class="layout">


        <!------------------------------- Header ------------------------------->
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/index.html">
                        <img src="../image/valorant-logo.png" width="200" alt="amazing_brand" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
                        <ul class="navbar-nav p-2">
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link active fs-4" href="#">Agents</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="./maps.html">Maps</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="./playerCards.html">Player</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="./sprays.html">Sprays</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="./Weapons.html">Weapons</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="./stats.html">Stats</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!------------------------------- Main --------------------------------->
        <main id="app">


            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col py-2">
                        <h1>Agents</h1>
                    </div>
                </div>
            </div>

            <div class="div-filtro-buscar container-fluid text-center">
                {{superFiltro}}
                <div class="row align-items-center barra-buscar">
                    <div class="col-sm-12 align-items-center p-2">
                       
                        <form class="d-flex" role="search" id="search">
                            <input v-model="searchQuery" class="form-control me-2" type="search" aria-label="Search"
                                placeholder="Search" />
                        </form>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <h3>Filter by Role</h3>
                            <div v-for="category in categories" :key="category">
                                <input type="checkbox" :id="category" :value="category" v-model="selectedRoles">
                                <label :for="category">{{ category }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid text-center">
                <div class="row align-items-center">
                    <div class="contenedor">
                        <div v-if="agents.length == 0">
                            <h1 class="text-success text-center">No results found.</h1>
                            <p class="text-success-emphasis text-center">Please try a new search.</p>
                        </div>
                        <div v-for="agent in agents" :key="agent.uuid" class="tarjeta">
                            <div class="card row">
                                <img :src="agent.fullPortrait" class="card-img-top" :alt="agent.displayName">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{ agent.displayName }}</h5>
                                    <p class="card-text" v-if="agent.role">ROLE: {{ agent.role.displayName }}</p>
                                    <p class="card-text" v-if="agent.role">DESCRIPTION: {{ agent.role.description }}</p>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!------------------------------- Footer ------------------------------->
        <footer>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col align-self-center p-2">
                        <p>© Copyright 2024 - Challenger Valorant - Mind Hub - All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

        <!------ Librerias JavaScrit ------>
        <!-- JavaScrit Propios -->
        <script src="../scripts/agents.js" type="module"></script>
        <!-- JavaScrit Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>
</body>

</html>