<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Valorant">
    <meta name="keywords" content="HTML, CSS, JAVASCRIPT, BOOTSTRAP, VUE">
    <link rel="shortcut icon" href="../image/favicon.png" type="image/x-icon" />
    <!-- Estilos Propios -->
    <link rel="stylesheet" href="../styles/maps.css">
    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Maps - Valorant</title>
</head>

<body>
    <div class="d-flex min-vh-100 flex-column layout">
        <!------------------------------- Header ------------------------------->
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../../index.html"><img src="../../assets/image/valorant-logo.png"
                            width="200" alt="amazing_brand" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
                        <ul class="navbar-nav p-2">
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" aria-current="page" href="../../index.html">Home</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/agents.html">Agents</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link active fs-4" href="../pages/maps.html">Maps</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/player.html">Player</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/sprays.html">Sprays</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/Weapons.html">Weapons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!------------------------------- Main --------------------------------->
        <main id="app" class="main p-3 flex-grow-1">
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col py-2">
                        <h1>Sprays</h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex flex-row justify-content-center align-items-center mb-4">
                    <div class="accordion accordion-flush col-2" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed mx-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Order
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-center">
                                    <button class="btn" @click="cambiarOrden('asc')" role="button">A-Z</button>
                                    <button class="btn" @click="cambiarOrden('desc')" role="button">Z-A</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="p-2 col-6" role="search">
                        <input v-model="textoBuscar" class="search_text form-control me-2" type="search" aria-label="search"
                            id="buscador" placeholder="Search Map...">
                    </form>
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn-favorites" data-bs-toggle="modal"
                            data-bs-target="#favoritosModal">
                            Favorites
                        </button>
                    </div>
                </div>
                <div id="cards" class="container">
                    <div class="modal fade" id="favoritosModal" tabindex="-1" aria-labelledby="favoritosModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h2 class="modal-title text-center" id="favoritosModalLabel">Favorites</h2>
                                </div>
                                <div class="modal-body container">
                                    <div class="row justify-content-evenly border-2">
                                        <div v-for="map in favoritos" :key="map.uuid" class="card card2 p-0 d-flex m-2 col-4">
                                            <img :src="map.splash" class="card-img-top" alt="imagen_mapa">
                                            <div class="card-body p-1 d-flex flex-column justify-content-around">
                                                <h4 class="card-title text-center">{{ map.displayName }}</h4>
                                                <button @click="quitarFavorito(map)" class="text-favorito">
                                                    Remove favorites
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="favoritos.length === 0" class="text-center">
                                        <h1 class="text-success">No favorites added yet.</h1>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn_close"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="superFiltro.length === 0" class="m-5">
                        <div class="not-found">
                            <h1 class="text-not-found text-center justify-content-center d-flex">No results found.<br>Please try a new search.</h1>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        <div v-for="map in superFiltro" :key="map.uuid" class="col">
                            <div class="card card_a">
                                <img :src="map.splash" class="card-img-top" alt="imagen_mapa">
                                <div class="card_body p-1">
                                    <h4 class="card-title text-center">{{ map.displayName }}</h4>
                                    <div class="d-flex justify-content-center">
                                        <button @click="toggleFavorito(map)"
                                            class="btn btn_details d-flex justify-content-end p-0">
                                            <svg v-if="isFavorito(map)" width="32" height="32" fill="currentColor"
                                                class="bi bi-fire" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15" />
                                            </svg>
                                            <span v-if="!isFavorito(map)" class="text-favorito">
                                                Add favorites
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!------------------------------- Footer ------------------------------->
        <footer>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col align-self-center p-2">
                        <p>
                            © Copyright 2024 - Challenger Valorant - Mind Hub - All Rights
                            Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Librerias JavaScript -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JavaScript -->
    <script src="../scripts/maps.js"></script>
</body>

</html>