<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Valorant">
    <meta name="keywords" content="HTML, CSS, JAVASCRIPT, BOOTSTRAP, VUE">
    <link rel="shortcut icon" href="../image/favicon.png" type="image/x-icon" />
    <!-- Estilos Propios -->
    <link rel="stylesheet" href="../styles/maps.css">
    <!-- Estilos Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Maps - Valorant</title>
</head>

<body>
    <div class="d-flex min-vh-100 flex-column layout">
        <!------------------------------- Header ------------------------------->
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../../index.html"><img src="../../assets/image/valorant-logo.png"
                            width="200" alt="amazing_brand" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end text-center" id="navbarNav">
                        <ul class="navbar-nav p-2">
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" aria-current="page" href="../../index.html">Home</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/agents.html">Agents</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link active fs-4" href="../pages/maps.html">Maps</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/player.html">Player</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/sprays.html">Sprays</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link fs-4" href="../pages/Weapons.html">Weapons</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!------------------------------- Main --------------------------------->
        <main id="app" class="p-3 flex-grow-1">
            <div class="container">
                <div class="d-flex flex-row justify-content-center align-items-center mb-3">
                    <div class="accordion accordion-flush col-2" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed mx-2" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Order
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body text-center">
                                    <button class="btn" @click="cambiarOrden('asc')" role="button">A-Z</button>
                                    <button class="btn" @click="cambiarOrden('desc')" role="button">Z-A</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="d-flex p-2 mb-3 col-6" role="search">
                        <input v-model="textoBuscar" class="form-control me-2" type="search" aria-label="search"
                            id="buscador" placeholder="Search Map...">
                    </form>
                    <div class="col-1 d-flex align-items-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#favoritosModal">
                            Favorites
                        </button>
                    </div>
                </div>
                <div id="cards" class="container">
                    <!-- Modal para mostrar favoritos -->
                    <div class="modal fade" id="favoritosModal" tabindex="-1" aria-labelledby="favoritosModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h5 class="modal-title" id="favoritosModalLabel">Favorites</h5>
                                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button> -->
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-wrap border-2 bg-light p-2">
                                        <div v-for="map in favoritos" :key="map.uuid" class="card d-flex m-2"
                                            style="width: 18rem;">
                                            <img :src="map.splash" class="card-img-top p-1 align-self-center"
                                                alt="imagen_mapa">
                                            <div class="card-body d-flex flex-column justify-content-around">
                                                <h6 class="card-title">{{ map.displayName }}</h6>
                                                <button @click="quitarFavorito(map)"
                                                    class="btn align-self-center text-danger">
                                                    Remove favorites
                                                </button>
                                                <button @click="openModal(map)" class="btn">More info</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="favoritos.length === 0" class="text-center">
                                        <h1 class="text-success">No favorites added yet.</h1>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="superFiltro.length === 0">
                        <h1 class="text-success text-center">No results found.</h1>
                        <p class="text-success-emphasis text-center">Please try a new search.</p>
                    </div>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                        <div v-for="map in superFiltro" :key="map.uuid" class="col">
                            <div class="card card_a">
                                <img :src="map.splash" class="card-img-top" alt="imagen_mapa">
                                <div class="card-body">
                                    <h6 class="card-title">{{ map.displayName }}</h6>
                                    <div class="d-flex justify-content-between">
                                        <button @click="agregarFavorito(map)" class="btn btn-danger">
                                            Add favoritos
                                        </button>
                                        <button @click="openModal(map)" class="btn">More info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- Modal con carrusel -->
                        <div class="container-modal" v-if="modalDetails">
                            <div class="modal-details">
                                <button class="close px-2" @click="modalDetails=false">x</button>
                                <div class="modal-carousel">
                                    <div id="carouselExampleIndicators" class="carousel slide">
                                        <div class="carousel-indicators d-flex">
                                            <button v-for="(image, index) in selectedMapImages" :key="index"
                                                type="button" :data-bs-target="'#carouselExampleIndicators'"
                                                :data-bs-slide-to="index" :class="{ active: index === 0 }"
                                                aria-current="true" :aria-label="'Slide ' + (index + 1)">
                                            </button>
                                        </div>
                                        <div class="carousel-inner  d-flex justify-content-around ">
                                            <div v-for="(image, index) in selectedMapImages" :key="index"
                                                :class="['carousel-item', { active: index === 0 }]">
                                                <img :src="image" class="d-block w-50" :alt="'Image ' + (index + 1)">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-content">
                                    <p class="text-light">Coordinates: {{ selectedMap.coordinates }}</p>
                                    <!-- <p class="text-light">Callouts: {{ selectedMap.callouts }}</p> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <!------------------------------- Footer ------------------------------->
        <footer>
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col align-self-center p-2">
                        <p>
                            © Copyright 2024 - Challenger Valorant - Mind Hub - All Rights
                            Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Librerias JavaScript -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JavaScript -->
    <script src="../scripts/maps.js"></script>
</body>

</html>