@font-face {
    font-family: Tungsten-Bold;
    src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
.nav-link {
    font-family: Tungsten-Bold;
}
.nav-link:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225) !important;
}
.active {
    border-bottom: 5px solid rgb(255, 70, 85) !important;
}
/*--------------------------------------- Main Styles -----------------------------------------*/

/*--------------------------------------- agents hover -----------------------------------------*/

article {
    position: relative;
    width: 250px;
    transition: all .5s ease; 
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
}

article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
}

article:hover {
    transform:
        perspective(250px)
        rotate(10deg)
        translateY(-5%)
        translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image:
linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
}

/*--------------------------------------- agents hover -----------------------------------------*/

main {
    background-color: black;
}
h1 {
    font-family: Tungsten-Bold;
    font-size: 72px !important;
}
.barra-buscar {
    background-color: #cecece;
}
#app {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.tarjeta {
    width: 300px;
    height: auto;
    margin: 20px;
}
/*.tarjeta:hover {
     transform: scale(1.2);
    transition-duration: 0.8s;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3); 
    z-index: 10;
} */
.card {
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0 !important;
}
.card-text {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.card-text::-webkit-scrollbar {
    -webkit-appearance: none;
}

.card-text::-webkit-scrollbar:vertical {
    width: 10px;
}

.card-text::-webkit-scrollbar-button:increment,
.card-text::-webkit-scrollbar-button {
    display: none;
}

.card-text::-webkit-scrollbar:horizontal {
    height: 10px;
}

.card-text::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
}
.favorite {
    text-decoration: none;
    background-color: rgb(255, 70, 85);
    color: rgb(236, 232, 225);
    font-family: Tungsten-Bold;
    font-size: 24px !important;
    padding-left: 5px;
    padding-right: 5px;
    border: 0 !important;
}
.favorite:hover {
    background-color: rgb(236, 232, 225);
    color: rgb(15, 25, 35);
}
footer {
    background-color: rgb(1, 1, 1);
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
}

