* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/*--------------------------------------- Inicio Header Styles ---------------------------------------*/
@font-face {
    font-family: Tungsten-Bold;
    src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}
.nav-link {
    font-family: Tungsten-Bold;
}
.nav-link:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225) !important;
}
.active {
    border-bottom: 5px solid rgb(255, 70, 85) !important;
}
/*--------------------------------------- Fin Header Styles ---------------------------------------*/

.container-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-details {
    padding: 10px;
    width: 80%;
    margin: 40px auto;
}

.derecha {
    float: right;
}

.close {
    position: fixed;
    top: 3%;
    right: 4%;
    background-color: red;
    color: white;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    background-color: rgb(1, 1, 1);    
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
    
}