* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Tungsten-Bold;
    src: url('../styles/fonts/FontsFree-Net-Tungsten-Bold.ttf');
}

/*--------------------------------------- Inicio Header Styles ---------------------------------------*/
@font-face {
    font-family: Tungsten-Bold;
    src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}

h1 {
    font-family: Tungsten-Bold;
    font-size: 72px !important;
    color: white !important;
    border-bottom: 2px solid red;
    width: 130px;
}

.nav-link {
    font-family: Tungsten-Bold;
}
.nav-link:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225) !important;
}
.active {
    border-bottom: 5px solid rgb(255, 70, 85) !important;
}
/*--------------------------------------- Fin Header Styles ---------------------------------------*/
.main, .modal-body {
    background-color: rgb(15, 25, 35);
}

.container-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card_a:hover {
    box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.7);
    transform: scale(1.2);
    transition-duration: 0.8s;
    z-index: 1;
    border: 2px solid red;

}
.bi-fire {
    color: rgb(255, 0, 0);
}

.bi-fire:hover {
    color: rgb(112, 110, 110);
    transform: skew(-10deg);
}

.text-favorito {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    font-family: Tungsten-Bold !important;
    font-size: 20px !important;
}

.text-favorito:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 40px;
    text-align: center;
    border: none;
    padding: 2px;
    margin: 2px;
}

.btn-favorites, .btn_close {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    font-size: larger;
    font-weight: 700;
}

.btn-favorites:hover, .btn_close:hover, .form-check-input:checked:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
}

.form-check-input:hover {
    color: white;
    box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
    background-color: rgb(204, 178, 178);
   
}

.form-check-input:checked{
    background-color: rgb(252, 1, 1) !important;
    border: 0;
}
 
.card-img {
    height: 30vh;
    align-self: center;
    border-radius: 13px 13px 0 0 ;
    object-fit: cover;
    border-bottom: 2px solid rgba(20, 48, 42, 0.6);

}

.card-title {
    border-bottom: 1px solid red ;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 0, 0, 0.7)), url(./imgs/streaming.jpg);
}

.form-check-label{
    user-select: none;
}

.card_a {
    border: 2px solid red ;
}

.search_text{
    box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.7);
}

.text-not-found {
    color: rgb(236, 133, 133);
    width: 90%;
    height: 45vh;
    background-image: linear-gradient(rgba(75, 60, 60, 0.527), rgba(24, 23, 23, 0.7)), url(../image/game-over.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: start;
    align-items: center;
    margin-left: 6%;
    background-size: cover;
    object-fit: contain;
    text-shadow: -1px 1px 0 #000, 2px 2px 0 #000000, 2px -2px 0 #000000, -2px -2px 0 #000000;
    border: 2px solid rgb(92, 47, 47) ;
}

.modal-details {
    padding: 10px;
    width: 60%;
    margin: 40px auto;
}

.carousel-inner {
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;

}

.image {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.close {
    position: fixed;
    top: 3%;
    right: 4%;
    background-color: red;
    color: white;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    background-color: rgb(1, 1, 1);    
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
    
}