/* Estilos personalizados */
body {
  background-color: #f8f9fa;
}

/* Header Styles */
@font-face {
  font-family: Tungsten-Bold;
  src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-family: Tungsten-Bold;
}

.nav-link:hover {
  background-color: rgb(15, 25, 35);
  color: rgb(236, 232, 225) !important;
}

.active {
  border-bottom: 5px solid rgb(255, 70, 85) !important;
}

/* Main Styles */
main {
  flex-grow: 1;
  background-color: rgb(15, 25, 35);
  font-family: Tungsten-Bold;
}

.modal-body {
  background-color: rgb(15, 25, 35);
}

h1 {
  font-family: Tungsten-Bold;
  font-size: 72px !important;
  color: white !important;
}

.contenedor {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.player-card {
  margin-bottom: 15px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 350px; /* Altura mínima para todas las tarjetas */
  width: 100%; /* Asegura que todas las tarjetas ocupen el mismo ancho */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tarjeta {
  width: 250px;
  margin: 20px;
}

.player-card img {
  width: 100%;
  height: 250px; /* Altura fija para las imágenes */
  object-fit: cover;
  filter: brightness(1.1);
  transition: all 0.3s ease-in-out;
}

.player-card .card-body {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bi-fire {
  color: rgb(255, 0, 0);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.bi-fire:hover {
  color: rgb(112, 110, 110);
  transform: skew(-10deg);
}

.text-favorito {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  border: none;
  font-family: Tungsten-Bold !important;
  font-size: 20px !important;
}

.text-favorito:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 40px;
  padding: 2px;
  margin: 2px;
}

.btn-favorites, .btn_close {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  border: none;
  font-size: larger;
  font-weight: 700;
}

.btn-favorites:hover, .btn_close:hover, .form-check-input:checked:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
}

.form-check-input:hover {
  box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
  background-color: rgb(204, 178, 178);
}

.form-check-input:checked {
  background-color: rgb(252, 1, 1) !important;
  border: 0;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  height: 25px;
  display: -webkit-box;
  width: 13vw;
  -webkit-line-clamp2: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-bottom: 1px solid red;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 0, 0, 0.7)), url(./imgs/streaming.jpg);
}

.search_text {
  box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.7);
}

.player-card .btn-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-card .btn-group .btn {
  margin-bottom: 5px;
}
.card-img-top{
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
 
}
.card-img-top:hover{
  transform: scale(1.1) rotate(3deg); 
  opacity: 0.9;
  filter: brightness(1.2);
 
}
.close {
  position: fixed;
  top: 3%;
  right: 4%;
  background-color: red;
  color: white;
}

/* Ajustes de tamaño para diferentes resoluciones */
@media (min-width: 1200px) {
  .player-card {
    max-width: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .player-card {
    max-width: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .player-card {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .player-card {
    max-width: 120px;
  }
}

/* Ajustes para la disposición de los filtros */
.accordion-flush {
  width: 150px;
}

.form-control {
  max-width: 300px;
}

/* Footer Styles */
footer {
  background-color: rgb(1, 1, 1);    
}

footer > .container > .row > .col > p {
  color: white;
  margin-bottom: 0 !important;
}

/* Animación al hacer clic */
@keyframes clickAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
}

.player-card.clicked {
  animation: clickAnimation 0.5s ease-in-out;
}