/*------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- Logica de sprays.css ---------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------- General Styles index.html ---------------------------------------*/
@font-face {
    font-family: Tungsten-Bold;
    src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
.nav-link {
    font-family: Tungsten-Bold;
}
.nav-link:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225) !important;
}
.active {
    border-bottom: 5px solid rgb(255, 70, 85) !important;
}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: rgb(15, 25, 35);
}

.modal-body{
    background-color: rgb(15, 25, 35);
}
h1 {
    font-family: Tungsten-Bold;
    font-size: 72px !important;
    color: white !important;
}

.btn-favorites, .btn_close {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    border: none;
    font-size: larger;
    font-weight: 700;
}
.bi-fire {
    color: rgb(255, 0, 0);
}

.bi-fire:hover {
    color: rgb(112, 110, 110);
    transform: skew(-10deg);
}

.text-favorito {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    border: none;
}
.favorirrr{
    height: 50px;
}
.text-favorito:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 40px;
    text-align: center;
    border: none;
    padding: 2px;
    margin: 2px;
}
.btn-favorites:hover, .btn_close:hover, .form-check-input:checked:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
}

.search_text{
    box-shadow: 0 0 4px 4px rgba(255, 0, 0, 0.7);
}

#app {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.tarjeta {
    width: 180px;
    height: auto;
    margin: 20px;
}
.tarjeta:hover {
    transform: scale(1.3);
    transition-duration: 0.8s;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3); 
    z-index: 10;
}
.form-check-input:hover {
    color: white;
    box-shadow: 0 0 4px 4px rgba(158, 42, 42, 0.7);
    background-color: rgb(204, 178, 178);
   
}

.form-check-input:checked{
    background-color: rgb(252, 1, 1) !important;
    border: 0;
 }
.card {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(110, 110, 110, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(110, 110, 110, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(110, 110, 110, 0.75);
    border-radius: 0 !important;
}
.btn{
    border-radius: 0 !important;
    border: 0 !important;
    font-family: Tungsten-Bold !important;
    font-size: 24px !important;
    margin: 0 !important;
}

.card-title {
    height: 50px;
    width: 100%;
    display: -webkit-box;
    -webkit-card-title: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    background-color: rgb(1, 1, 1);    
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
    
}
