/*--------------------------------------- General Styles index.html ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/

/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;

}
video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.parrafo-intro{
    color: rgb(192, 192, 192);
}
/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    background-color: rgb(1, 1, 1);    
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
    
}


/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    .parrafo-intro{
        margin-left: 200px;
        margin-right: 200px;
    }
    /*-------------------------- Footer Styles --------------------------*/
}