/*--------------------------------------- General Styles index.html ---------------------------------------*/
@font-face {
    font-family: Tungsten-Bold;
    src: url('./fonts/FontsFree-Net-Tungsten-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
.nav-link {
    font-family: Tungsten-Bold;
}
.nav-link:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225) !important;
}
.active {
    border-bottom: 5px solid rgb(255, 70, 85) !important;
}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
}
video {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.parrafo-intro {
    color: rgb(192, 192, 192);
}
h2 {
    font-family: Tungsten-Bold;
    font-size: 72px !important;
}
.agents,
.playerCards,
.weapons {
    background-color: rgb(236, 232, 225);
}
.maps,
.sprays {
    background-color: rgb(255, 70, 85);
}
.maps > div > h2,
.sprays > div > h2 {
    color: rgb(236, 232, 225);
}
.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: rgba(95, 233, 202, 0.6);
    border: 2px solid rgba(20, 48, 42, 0.6);
    border-radius: 15px;
    z-index: 1;
}

.accordion {
    position: absolute;
    top: 10%;
    left: 10%;
}

.card-img-top {
    height: 20vh;
}
.contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.tarjetas {
    padding: 20px;
    color: white;
    background-color: rgb(15, 25, 35);
}
.ancor2 {
    text-decoration: none;
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225);
    font-family: Tungsten-Bold;
    font-size: 32px !important;
    padding: 15px;
}
.ancor2:hover {
    background-color: rgb(255, 70, 85);
    color: rgb(15, 25, 35);
}
.ancor1 {
    text-decoration: none;
    background-color: rgb(255, 70, 85);
    color: rgb(236, 232, 225);
    font-family: Tungsten-Bold;
    font-size: 32px !important;
    padding: 15px;
}
.ancor1:hover {
    background-color: rgb(15, 25, 35);
    color: rgb(236, 232, 225);
}
.cardImage {
    height: 15vh;
}
.cardWeapons {
    max-height: 9%;
}
.table{
    font-size: 32px !important;
}

.container-car {
    display: flex;
    width: 260px;
    height: 400px;
    padding: 4% 2%;
    box-sizing: border-box;
}

.box {
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    line-height: 0;
    transition: all 600ms;
    filter: grayscale(70%);
}

.box > img {
    width: 150%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: all 300ms;
}

.box > span {
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;

    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box:hover {
    flex: 50%;
    filter: grayscale(0%);
}

.box:hover > img {
    width: 300px;
    height: 350px;
}

.container-image {
    display: flex;
    width: 300px;
    height: 200px;
    padding: 4% 2%;
    box-sizing: border-box;
}

.box-image {
    flex: 1;
    overflow: hidden;
    margin: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    line-height: 0;
    transition: all 600ms;
    filter: grayscale(70%);
    
}

.box-image > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: all 300ms;


}

.box-image > span {
    font-size: 24px;
    font-family: sans-serif;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;

    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.box-image:hover {
    flex: 0%;
    filter: grayscale(0%);

}

.box-image:hover > img {
    width: 120%;
    height: auto;

}

.not-found {
    background-image: linear-gradient(rgba(210, 210, 210, 0.70), rgba(210, 210, 210, 0.70)), url(../image/game-over.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: start;
    align-items: center;
    background-size: cover;

}

.favorite {
    text-decoration: none;
    background-color: rgb(255, 70, 85);
    color: rgb(236, 232, 225);
    font-family: Tungsten-Bold;
    font-size: 24px !important;
    padding-left: 5px;
    padding-right: 5px;
    border: 0 !important;
}
.favorite:hover {
    background-color: rgb(236, 232, 225);
    color: rgb(15, 25, 35);
}
/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    background-color: rgb(1, 1, 1);
}

footer > .container > .row > .col > p {
    color: white;
    margin-bottom: 0 !important;
}


/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1280px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}